body {
    margin-top: 100px;
    background-color: #fff;
    font-family: maiandra GD;
}
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
        overflow-x: hidden;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    display: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

h4{
    color: black;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-left: 0px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
}

.electheading{
    font-size:25px;
    font-weight: bold;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1), 0px 3px 5px 3px rgba(0,0,0,0.2);
    padding: 0;
    margin-bottom:20px;
    border-radius: 3px;
}
.electlist{
    font-size: 20px;
	margin-top: -20px;
	background:rgba(0,0,0,0.1);
	padding:20px 10px 30px 5px;
	margin-bottom: 20px;
	border-radius:5px;
}
.electlist li{
    margin-bottom: 10px;
}
.dash{
    margin-top: 0;
    padding: 10px 0 10px 0 ;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1), 0px 3px 5px 3px rgba(0,0,0,0.2);
}
.form{
    padding: 5px;
}
.page-header1{
    padding: 10px 10px;
    text-align:center;
	margin:0 0 10px 0 ;
	border-bottom:solid 1px black;
}
.page-header{
    padding: 10px 10px;
    text-align:left;
}
.breadcrumb{
    margin-bottom: 0;
}
.electoralform{
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.1), 0px 3px 5px 3px rgba(0,0,0,0.2);
}
fieldset.info{
	padding-bottom:10px;
}
span.error{
	color:red;
}
table{
    box-shadow:0px 1px 2px 1px rgba(0,0,0,0.1);
}
tr{
    background: rgba(0,0,0,0.1);
    padding:15px;
}
th{
    padding:5px 10px 5px 2px;
    color:floralwhite;
    opacity: 0.8;
}
.success,
.success th{
    background: #5cb85c!important;
    border:none!important;
}
th:last-child{
    background: transparent!important;
    text-align:center;
    border:none;
}
.default,.default th{
    background: #000;
}
.danger,.danger th{
    background: #d9534f;
}
.warning,.warning th{
    background: #D09239;
}
.primary,
.primary th{
    background: #2A5D89;
}
table tr:nth-child(even):hover{
    background: rgba(0,0,0,0.1);
}
table tr:nth-child(even) {
    background-color: transparent;
}
table tr:nth-child(odd):hover{
    background-color: rgba(0,0,0,0.05);
}
table tr:nth-child(even):hover{
    background-color: rgba(0,0,0,0.05);
}
table tr:nth-child(odd) {
    background-color: #fff;
}
thead tr:first-child:hover{
    background: #fff;
}
.form-group{
    text-align:left;
}
/*.tableLinks{
    margin-left: 1%;
}*/
.tableLinks .col-md-3{
    padding:10px 10px;
    text-align:center;
    box-sizing:border-box;
    color:white;
    cursor: pointer;
    opacity: 0.8;
    width: 20%;
}
.tableLinks .col-md-3:hover{
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    box-sizing:border-box;
    text-decoration:none;
}

span.success{
    color: green;
}
table .fa{
    color:#aaa;
}
.btn.primary,.btn.success,.btn.warning,.btn.danger,.btn.default{
    font-size: 10px;
    margin-top: -2px;
    color: #fff;
    padding: 2px 10px;
    border-radius: 100%;
    opacity: 0.8;
}
.btn.default{
    color: #fff;
    opacity: 1;
    background: rgba(255,255,255,0.4);
}
td i.fa{
    cursor: pointer;
    padding: 5px;
    transition: box-shadow .3s,opacity .3s,color .5s;
    color: #fff;
    opacity: 0.4;
    border-radius: 3px;
}
td i:hover{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    color: #fff;
    opacity: 0.7;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: #fff;
    border: solid 1px #ccc;
    color: #777;
}
.pagination>.active>a:focus{
    background: #000;
    color: #fff;
}
.pagination>.active>a:hover{
    background: #555;
    border:solid 1px #555;
    color: #fff;
    cursor: pointer;
}
.row.profile .col-md-3{
    text-align: right;
}
.row.profile img{
    /*border: solid 2px #ccc;*/
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.12);
}
.row.profile{
    padding:10px 0px 20px 0px;
    line-height: 40px;
    font-size: 15px;
}
strong{
    color: #777;
}
small{
    color: #555 ;
}
a.contestant:hover{
    color: #999;
}
a.contestant{
    color: #000;
}



/*Style for elections joined by adela*/
.Adelne{
    background: rgba(500,500,500,0.8);
    padding: 20px 0;
    text-align: left;
}
.tes{
    padding: 1%!important;
}

/*tesing*/
.stylish-panel .col-md-4{
    padding: 5px;
}
.stylish-panel {
    padding: 20px 5px;
    text-align: center;
}
.stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.1s;

}
.stylish-panel > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}
#textarea{
    width: 600px;
}

.clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 15px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

h1{
    width: 100%;
}

textarea{
    resize: none;
}
span.eyeChange{
    cursor: pointer;
}
.blanket{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    right: 0;
    left: 0;
    z-index: 9000;
    bottom: 0;
    display: none;
    overflow: hidden;
}
.blanket>i.fa-close{
    position: absolute;
    top: 0;
    right:0;
}
.blanket>.content{
    text-align: center;
    position:relative;
    width: auto;
    max-width: 30%;
    height: auto;
    top: -15%;
    left:35%;
    background: #fff;
    padding: 1% 1% 1% 1%;
    box-shadow: 2px 2px 5px #222;
    border-radius: 3px;
}
i.preview-img{
    position: absolute;
    top: 0px;
    z-index: 90000;
    padding: 4px 4px 8px 4px;
    background: #fff;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.12);
    opacity: 1;
}
i.preview-img:before{
    content: " ";
    color: transparent;
    position: absolute;
    bottom: 50%;
    padding: 3px;
    left: -3px;
    background: #fff;
    -webkit-transform:rotate(45deg);
    opacity: 1;
    box-shadow: -1px 1px 2px #ddd;
    /*border-left: solid 1px #ddd;
    border-bottom: solid 1px #ddd;*/
}
.clear-input{
    cursor: pointer;
}
.clear-input>i{
    opacity: 0.3;
    font-weight: lighter;
}
.clear-input:hover>i{
    opacity: 0.9;
}
i.badge{
    position: absolute;
    top: -25px;
    right: -25px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.14);
    opacity: 0.9;
    box-shadow: 1px 1px 4px #333;
    background: #337ab7;
    z-index: 90000;
}
i.badge:after{
    content: " ";
    z-index: 1;
    padding: 4px;
    color: transparent;
    position: absolute;
    bottom: -3px;
    left: 45%;
    background: #337ab7;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    opacity: 1;
    box-shadow: 1px 1px 2px #333;
}
.breadcrumb li.active{
    font-weight: bold;
}
.load_cover{
    z-index: 90002;
    background: #fff;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}
.load_cover>i{
    position: absolute;
    top: 40vh;
    left:45vw;
    font-size: 50px;
}