/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}
.side-nav li a{
    transition: margin-left .5s;
}
.side-nav li a:hover{
    margin-left: 0px;
}
.side-nav li a.inactive:hover{
    margin-left: 0px;
}
.side-nav li a.active{
    margin-left: 0px;
}
.side-nav li a.active1{
    margin-left: 2px;
}
.side-nav li a.active2{
    margin-left: 10px;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
a.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
}
i{
    margin: 0 10px 0 10px;
}
.side-nav a.active{
    background: #000;
}
a.inactive{
    background: #000;
    opacity:0.3;
}
.nav-second-level li,
 .nav-third-level li {
    border-bottom: 0!important;
}
.nav-second-level li a {
    padding-left: 37px;
	text-decoration:none;
	color:#999;
}
.nav-third-level li a {
    padding-left: 52px;
}
